{% extends 'base.html.twig' %}

{% block title %}Copyright Maciej Ciepliński 5 kwietnia 2023r.{% endblock %}

{% block body %}


<div class="wrapper">
    <h1>Witam ;)</h1>
    <p>Ta strona służy do połączenia z NBP API, pobranie z tamtąd walut i zakutalizowanie ich kursu :) </p>
</div>
{% endblock %}
